/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #fff;
    font-family:'Lato', sans-serif;
}


/* Header */
header {
    background-color: #367588;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 8%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 10px;
    color: #DFF8EB;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    float: right;
}

#menu > li {
    margin-right: 2em;
    column-gap: 10px;
    float: right;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #367588;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/rsvp.webp") no-repeat center center;
    /* Initially set to cover */
    background-size: cover;
    /* Set a minimum height to avoid excessive stretching */
    min-height: 400px; 
}

#cover-text {
    background-color: rgba(54, 117, 136, 0.8);
    font-size: 120%;
    text-decoration-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    padding: 10% 5% 10% 5%;
}

#cover-text>h2{
    color: #ffffff;
}

.image-container {
    position: relative;
    display: block;
    overflow: hidden;
}

#invitation-background {
    height: 100vh;
    width: 100%;
    background-size: cover;
    min-height: 400px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DFF8EB;
    color: #800080;
    padding: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 6.5vw;
    text-align: center;
    /* Minimum 70% of the viewport width */
    max-width: 70vw;
    /* Fallback for older browsers */
    width: 70%; 
    box-sizing: border-box;
}

.venue,
#map_link {
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #800080;
    text-transform: lowercase;
    left: 5%;
    position: relative;
    /* Adjust width to fit within the overlay-text */
    width: 90%; 
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #DFF8EB;
}

footer > p{
    left: 50px;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: #fff;
}

/* Main content */
main {
    background-color: #DFF8EB;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 50px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Form */
#rsvp-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rsvp-form {
    position: relative; 
    color: #ffffff;
    background-color: #E4959E;
    padding: 2%;
    /* Minimum 70% of the viewport width */
    max-width: 70vw;
    /* Fallback for older browsers */
    width: 70%; 
    height: fit-content;
    /* Center horizontally */
    margin: auto;
    box-sizing: border-box;
}

#rsvp-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F4C2C2;
    border-radius: 2px;
    padding: 0 5px;
}
.textarea{
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #F4C2C2;
    border-radius: 2px;
    padding: 0 5px;
}
.input::placeholder, .textarea::placeholder {
    color: #3a3a3a;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.rsvp-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    font-weight: bold;
    background-color: #0B4F6C;
    color: #fafafa;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px rgba(54, 117, 136, 0.5);
}

/* Thank you page */
#thankyou-background {
    height: 100vh;
    width: 100%;
    background-size: cover;
    min-height: 400px;
}
/* Footer */
footer {
    background-color: #0B4F6C;
    box-shadow: 0 -2px 2px #367588;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}
@media screen and (min-width: 1200px) {

}

@media (max-width: 768px) {
    #hero {
        /* Change to contain for smaller screens */
        background-size: cover; 
    }

    #cover-text {
        /* Adjust width for smaller screens */
        width: 80%; 
        padding: 10% 5% 10% 5%;
    }

    .overlay-text {
        font-size: 10vw;
    }

}