/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #fff;
    font-family:'Lato', sans-serif;
}


/* Header */
header {
    background-color: #DFF8EB;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #367588;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/rsvp.webp") no-repeat center center/cover;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(54,117,136, .5);
    font-size: 130%;
    text-decoration-color: #fff;
    position: relative;
    top: 0px;
    width: 50%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    background: no-repeat center center/cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #fff; 
    color: #800080; 
    padding: 10px 20px; 
    font-size: 100px; 
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
  }

  .venue, #map_link{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #800080;
    text-transform: lowecase;
    left: 50px;
  }


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #DFF8EB;
}

footer > p{
    left: 50px;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: #fff;
}

/* Main content */
main {
    background-color: #DFF8EB;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Form */
#rsvp {
    background-image: url("../images/savethedate.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#rsvp-form {
    color: #ffffff;
    background-color: #E4959E;
    padding: 30px;
}
#rsvp-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F4C2C2;
    border-radius: 2px;
    padding: 0 5px;
}
.textarea{
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #F4C2C2;
    border-radius: 2px;
    padding: 0 5px;
}
.input::placeholder, .textarea::placeholder {
    color: #3a3a3a;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rsvp-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    font-weight: bold;
    background-color: #0B4F6C;
    color: #fafafa;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px rgba(54, 117, 136, 0.5);
}

/* Media query: tablets and larger (768px and up) */

/* Footer */
footer {
    background-color: #0B4F6C;
    box-shadow: 0 -2px 2px #367588;
}